* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  .profiles {
    /* height: 100vh; */
    width: 100%;
    flex-shrink: 0;
  
    display: flex;
    flex-wrap:wrap;
    /* display:grid; */
    align-items: center;
    justify-content: center;
    flex-direction:row;
    position: relative;
    /* top: -200px; */
  }
  
  .child {
    /* flex: 100 100 20%;
    margin: 5px; */
    /* flex: 0 0 21%; */
  
    
  }
  body {
    /* background: var(--color-bg) */
  
    background:-moz-radial-gradient(circle at 3% 25%, #002853 0%, #002853 0%, #040C18 100%);
  
    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 3% 25%, #002853 0%, #002853 0%, #040C18 100%);
  
    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 3% 25%, #002853 0%, #002853 0%, #040C18 100%);
  
    /* ie 10+ */
    background:-ms-radial-gradient(circle at 3% 25%, #002853 0%, #002853 0%, #040C18 100%);
  
    /* global 92%+ browsers support */
    background:radial-gradient(circle at 3% 25%, #002853 0%, #002853 0%, #040C18 100%);
  }
  
  .gradient__bg 
  {
    /* ff 3.6+ */
  }
  
  
  .gradient__text {
    background:var(--gradient-text);
    background-clip: text;
    -webkit-background-clop: text;
    -webkit-text-fill-color: transparent;
  }
  
  .section__padding {
    padding: 4rem 6rem;
  }
  
  .section__margin {
    margin: 4rem 6rem;
  }
  
  .shadow-drop-2-center {
      -webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
              animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  
   @-webkit-keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  @keyframes shadow-drop-2-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-transform: translateZ(50px);
              transform: translateZ(50px);
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  
  .scale-up-center {
      -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
              animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  }
  
   @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  
  @media screen and (max-width: 700px) {
    .section__padding {
      padding: 4rem;
    }
    .section__margin {
      margin: 4rem;
    }
  
    .profiles {
      margin-top: -100px;
    }
  
    
    
  }
  
  @media screen and (max-width: 550px) {
    .section__padding {
      padding: 4rem, 2rem;
    }
    .section__margin {
      margin: 4rem, 2rem;
    }
    .child {
      align-items: center;
      margin-right: 130px;
      width: 10%;
      height: 33vh;
  
      overflow:visible;
      /* height: 250px; */
      
    }
  
    .profiles {
      margin-top: -100px;
    }
  
  
  }
  
  
  
  
  
  